@font-face {
    font-family: 'PitchRegular';
    src: url('pitch-regular.eot');
    src: url('pitch-regular.eot') format('embedded-opentype'),
         url('pitch-regular.woff') format('woff'),
         url('pitch-regular.ttf') format('truetype'),
         url('pitch-regular.svg#PitchRegular') format('svg');
}
